#####################################
# Required packages for phonolammps #
#####################################

# mandatory
numpy>=1.8.2
phonopy
# lammps

# (optional) for plotting phonon band structure
matplotlib
seekpath

# (optional) for finite temperature FC calculations
dynaphopy
